<div class="body">
    <header>
        <h1 class="header">RESTAURANT</h1>
        <h2>Zadowolenie gwarantowane!</h2>
        <br>
    </header>
    <section>

       <div class="item">
           <div class="photo" id="photo1"></div>
           <div class="description">
               <p>Sprawdzeni dostawcy zawsze dostarczą jedzenie na czas w nienarusznym stanie. Dostawa ekspresowa do pół godziny na terenie Krakowa!</p>
           </div>
       </div>

       <div class="item">
        <div class="photo" id="photo2"></div>
        <div class="description">
            <p>Świeżośc jest naszym priorytetem! Wszystkie produkty dostarczane są przez sprawdzonych dostawców.</p>
        </div>
       </div>
    </section>
    <div class="localization">
        <div class="map"><a href="https://www.google.pl/maps/@49.74214,21.4784741,16.27z"></a></div>
        <div class="info">
            <span>Jasło ul. Ogrodowa 38-200</span>
        </div>
    </div>
    <footer>
        <span>Dane kontakowe:</span>
        <span>restaurant@gmail.com</span>
        <span>+48 133 532 212</span>
    </footer>
</div>