<div class="list">
    <div class="col">
      <h4>Students List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let student of students; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveStudent(student, i)"
        >
          {{ student.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentStudent">
        <app-student-details
          (refreshList)="refreshList()"
          [student]="currentStudent"
        ></app-student-details>
      </div>

      <div *ngIf="!currentStudent">
        <br>
        <p>Click on student!</p>
      </div>
    </div>
  </div>
