<div>
  
      <button class="btn" routerLink="/create-post">Add Post</button>

      <div >
        <table>
          <thead>
            <tr>
              <th scope="col">Post ID</th>
              <th scope="col">user ID</th>
              <th scope="col">Title</th>
              <th scope="col">Body</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts">
              <td>{{post.id}}</td>
              <td>{{post.userId}}</td>
              <td>{{post.title}}</td>
              <td>{{post.body}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
  
  </div>