h1{
    text-align: center;
    text-decoration: underline;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: column;
    gap:10px;
}
span{
    font-weight: bold;
}
.btn{
    position: fixed;
    top:0;
    right: 5px;
    background: #333;
    color:white;
    font-size: 1.3rem;
    margin:10px 0;
    border:none;
}
.btn:hover{
    cursor: pointer;
    background-color: #ddd;
    color: black;
}