.btn-back{
    font-size: 1rem;
    background:#333;
    color:white;
    position: fixed;
    top:10px;
    right: 0;
    z-index: 5;
}
.btn-back:hover{
    cursor: pointer;
}

.Notvisible{
    display: none;
}
.mainContainer{
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:3vw;
    margin: 5px;
    max-height: 90vh;
}
.dishContainer{
    width: 350px;
    max-height: 700px;
    background:lightgray;
    padding: 3px;
    display: flex;
    flex-direction: column;
    border:3px solid white;
    border-radius: 10px;
    display: flex;
    gap:.7vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.head{
    display: flex;
    width: 100%;
    justify-content: center;
}
.procent{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 1px solid black;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item{
    margin-bottom: 5px;
}
#name{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 2px;
}
#cuisine, #category, #type{
    text-align: center;
    padding: 2px;
}
#price{
    font-weight: bold;
    font-size: 1.1rem;
}
.removeButton,.addButton{
    font-size: 1rem;
    font-weight: bold;
    width: 25px;
    height: 25px;
}
.removeButton{
    margin-right: 5px;
}
.lPrice{
    border:3px solid green;
}
.bPrice{
    border:3px solid red;
}
.dishImg{
    width: 100%;
    overflow: hidden;
}

button:hover{
    cursor: pointer;
}

p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.star {
    position: relative;
    
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: .4em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 10;
}
.star:before, .star:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #FC0;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
}   

.star:after {  
      transform: rotate(35deg);
}
.star:hover{
    cursor: pointer;
}

.starX {
    position: relative;
    
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: .4em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid rgb(201, 184, 138);
    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 10;
}
.starX:before, .starX:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid rgb(201, 184, 138);
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
}   

.starX:after {  
      transform: rotate(35deg);
}
.starX:hover{
    cursor: pointer;
}
.hide{
    display: none;
}
.slider{
    border: 5px solid white;
    background:lightgray;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5vw;
    overflow:scroll;
}
.pht{
    width: 30vw;
    height: 45%;
}
#removeDish{
    font-size: 1rem;
    margin: 5px;
}
.avg{
    text-align: center;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
textarea{
    display: block;
    resize: none;
    min-height: 100px;
}
.btn{
    margin-top: 5px;
    margin-right: 5px;
}
.messages{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.messages span{
    display: block;
    color: red;
    gap:5px;
}
.container{
    display: flex;
    justify-content: center;
}
form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: center;
}
.btn-success{
    width: 20%;
    align-self: center;
}
h2{
    text-align: center;
    font-size: 3rem;
    margin:20px;
    padding: 0;
}
.wrap{
    width: 100%;
}
.wrapchild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comm{
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap:100px;
}
.comm h3{
    font-size: 1.7rem;
    margin: 0;
    padding: 5px;
}
.date{
    font-size: .8rem;
}
.comm h4{
    font-size: 1.2rem;
    margin: 0;
    padding: 5px;
}
.comm p{
    margin: 0;
    padding: 5px;
    text-align: start;
}
.row{
    word-wrap: break-word;
    background:lightgray;
    box-shadow: 15px -15px #333;
    margin: 20px;
}
.row p {
    word-wrap: break-word
}
@media(min-width:1600px){
    .dishContainer{
        width: 700px;
        font-size: 1.3rem;
    }
    #name{
        font-size: 1.7rem;
    }
}
@media(min-width:1200px){
        .dishContainer{
            width: 400px;
        }
    }
@media(min-width:800px){
    .dishContainer{
        width: 450px;
    }
}
